<div id="welcome">
  <div id="welcomeMessage">Welcome {{userName}}</div>
  <form id="lgout" action="/logout" method="get">
    <input id="logout-btn" class="btn btn-primary" type="submit" value="Logout">
  </form>
</div>
