<div id="loginForm">
    {{#if failedAuth}}
    <div id="failedText">Invalid username or password</div>
    {{/if}}
    <form action="/loginAuth" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <input type="submit" value="LOGIN">
    </form>
</div>