<div id="search" class="shadow search">
  <div class="form-group">
  <form action="/" method="post">
    <label for="game">Enter Game Name: </label>
    <input class="form-control" type="text" name="game">
    <input id="search-btn" class="btn btn-primary" type="submit" value="Search Game">
  </form>
  </div>
</div>
