<!DOCTYPE html>
<html>
	<head>
		<title>Accounnt Created</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
		{{> header}}
			<div class="wrapper">
			<form action="/" method="get">
				Account Created
    			<input id="back-btn" class="btn btn-primary" type="submit" value="Back">
  			</form>

			</div>
			<br>
	</body>
</html>
