<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
  {{> header}}
	<body>

		<div class="wrapper">
	    <div id='accFormContainer'>

	      <form action="/createUser" method="post">
	        <div class='formRow'>

	          <div class='formRowLeft'>
	            <label class='formLabel' for="acc_name">Enter new account name:</label>
	          </div>

	          <div class='formRowRight'>

	            {{#if hasSpace}}
	              <div class="formMessage">Account name contains spaces</div>
	              {{else}}
									{{#if shortName}}
										<div class="formMessage">Account name shorter than 6 characters</div>
									{{else}}
		                {{#if duplicateName}}
		                  <div class="formMessage">Account name already exists</div>
		                {{/if}}
									{{/if}}
	            {{/if}}

	            <input class='formTextInput' type="text" name="acc_name">
	          </div>

	        </div>


	        <div class='formRow'>

	          <div class='formRowLeft'>
	            <label class='formLabel' for="acc_pass">Enter new password:</label>
	          </div>

	          <div class='formRowRight'>
							{{#if mismatch}}
								<div class="formMessage">Passwords do not match</div>
							{{else}}
		            {{#if spacePass}}
		              <div class="formMessage">Password contains spaces</div>
								{{else}}
									{{#if weakPass}}
										<div class="formMessage">Password shorter than 8 chracters</div>
									{{/if}}
		            {{/if}}
							{{/if}}
							
	            <input class='formTextInput' type="password" name="acc_pass">
	          </div>
	        </div>

					<div class='formRow'>
						<div class='formRowLeft'>
							<label class='formLabel' for="rpt_pass">Confirm password:</label>
						</div>
						<input class='formTextInput' type="password" name="rpt_pass">
					</div>

	        <div class='formRow'>
	          <input class='formSubmit' type="submit" value="Create Account">
	        </div>

	      </form>

	    </div>
		</div>
	</body>
  {{> footer}}
</html>
