<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	{{> header}}
	<body>
		<div id="container">
			<img id="logo" src={{logo}}>
			<h1>Steam Wishlist</h1>

			<h3>Add Game</h3>
			<form action="/" method="post">
				<label for="game">Enter Game Name: </label>
				<input type="text" name="game">
				<input type="submit" value="OK">
			</form>
			<br>
			<p>Game Name: {{gamename}}</p>
			<p>Price: ${{price}}</p>
			<p>Metacritic Score: {{score}}%</p>
		</div>
	</body>
	{{> footer}}
</html>