<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
		{{> header}}
			<div class="wrapper">
				{{> search}}
				{{> details}}
				{{> wishlist}}
			</div>
			<br>
	</body>
</html>
