<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href="style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
		<div id="container">
			<h1>Steam Wishlist</h1>
			
			<h3>Test Game</h3>
			<p>{{message game_name}}</p>

			<h3>Add Game</h3>
			<form action="/" method="post">
				<label for="game">Enter Game Name: </label>
				<input type="text" name="game">
				<input type="submit" value="OK">
			</form>
		</div>
	</body>
	{{> footer}}
</html>