<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
	{{> header}}
	<body>
		<div id="container">
<!--			<h1>Login</h1>-->
            {{> login_form}}

		</div>



	</body>
	{{> footer}}
</html>
