<!DOCTYPE html>
<html>
	<head>
		<title>Wishlist</title>
		<link rel="stylesheet" href="css/style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>
	{{> header}}
	<body>
		<div id="container">
			{{#apps this}}
				{{gamelist}}
			{{/apps}}
		</div>
	</body>
	{{> footer}}
</html>
