<!DOCTYPE html>
<html>
	<head>
		<title>Wishlist</title>
		<link rel="stylesheet" href="style.css"></link>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	{{> header}}
	<body>
		<div id="container">
			{{#list apps}}{{gamename}}{{/list}}
		</div>
	</body>
	{{> footer}}
</html>
