/*
style.css

Challenge 8

Robert Janzen - A01029341 2B
*/

body {
	font-family: 'Lato', sans-serif;
}

a {
	color:black;
	font-size:1.1em;
	font-style:normal;
}

p, label {
	color:black;
	font-size:1.2em;
}

h1 {
	font-size:3em;
}

h2 {
	font-size:2.5em;
}

header {
	position:relative;
	width:100%;
	height:70px;
	background-color:rgb(240,240,240);
	line-height:70px;
}

footer {
	position:absolute;
	text-align:center;
	left:0px;
	right:0px;
	bottom:20px;
	margin:auto;
}

#container {
	text-align:left;
	position:absolute;
	margin:auto;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	width:80vw;
	height:80vh;
	padding-left:30px;
}

#logo {
	position:absolute;
	left:5px;
	top:0px;
	bottom:0px;
	width:60px;
	margin:auto;
}

#loginForm {
	position:fixed;
	top:20px;
	right:20px;
	height:30px;

}

#welcomeMessage{
	position:fixed;
	top:20px;
	right:20px;
	height:30px;
	text-align: right;
}

#failedText {
	position:fixed;
	top:2px;
	right:20px;
	color:red;
}

#wishlist {
	position:relative;
	width:100%;
	height:100%;
}

#title {
	position:absolute;
	text-align:left;
	left:100px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	font-size:2.7em;
	height:100%;
	vertical-align:middle;
}

.game {
	position:relative;
	width:100%;
	height:20%;
}

.shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
