/*
style.css

Challenge 8

Robert Janzen - A01029341 2B
*/

body {
	font-family: 'Lato', sans-serif;
	background-color:rgb(218,220,222);
}

a {
	color:black;
	font-size:1.1em;
	font-style:normal;
}

p, label {
	color:black;
	font-size:1.2em;
}

h1 {
	font-size:3em;
}

h2 {
	font-size:2.5em;
}

header {
	text-align:center;
}

footer {
	position:absolute;
	text-align:center;
	left:0px;
	right:0px;
	bottom:20px;
	margin:auto;
}

#container {
	text-align:left;
	position:absolute;
	margin:auto;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	width:80vw;
	height:80vh;
	border-style:dashed;
	padding-left:30px;
	background-color:white;
}

#logo {
	position:relative;
	width:200px;
	margin-bottom:-60px;
	margin-left:-20px;
}

#loginForm{
    position: absolute;
    top: -30px;
    right: -4px;
    height: 30px;
    
}

#failedText{
    position: absolute;
    height: 30px;
    top: -20px;
    left: 0px;
    right: 0px;
    margin: auto;
    color: red;
}